
<section>
  <div class="container">
    <div class="col mt-4 mt-3">
    </div>
    <table class="table mt-5">

      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Customer Id</th>
          <th scope="col">Delivery Address</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Order status</th>
          <th scope="col">Date of Order</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Delivery Status</th>
        </tr>
      </thead>
      <tbody>
      {{#each orders}}
        <tr>
          <td>{{_id}}</td>
          <td>{{userId}}</td>
          <td>{{deliveryDetails.name}} <br>{{deliveryDetails.address}}<br>{{deliveryDetails.mobile}}<br>{{deliveryDetails.pincode}}<br>{{deliveryDetails.city}}<br> {{deliveryDetails.state}}</td>
          <td>{{PaymentMethod}}</td>
          <td>{{status}}</td>
         <td>{{date}}</td>
         <td>{{totalAmount}}</td>
  <td>
            <select class="form-control" onchange="updateDeliveryStatus('{{this._id}}', this.value)">
              <option value="Pending" {{#ifCond deliveryStatus '===' 'Pending'}}selected{{/ifCond}}>Pending</option>
              <option value="In Transit" {{#ifCond deliveryStatus '===' 'In Transit'}}selected{{/ifCond}}>In Transit</option>
              <option value="Delivered" {{#ifCond deliveryStatus '===' 'Delivered'}}selected{{/ifCond}}>Delivered</option>
            </select>
          </td>

          
          <td>
            <a href="/view-orderProduct/{{this._id}}" class="btn btn-primary">View Products</a>
          </td>
         
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<script>
  function updateDeliveryStatus(orderId, deliveryStatus) {
    // Send an AJAX request to update the delivery status in the database
    // Here's an example using jQuery AJAX:
    $.ajax({
      type: 'POST',
      url: '/update-delivery-status', // Replace with the actual endpoint to update the delivery status in your backend
      data: {
        orderId: orderId,
        deliveryStatus: deliveryStatus
      },
      success: function(response) {
        // Update the delivery status in the table after successful update in the database
        // You can update the status in the table dynamically using JavaScript/jQuery
      },
      error: function(error) {
        // Handle any errors that occur during the AJAX request
      }
    });
  }
</script>

