  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333;
      margin-top: 0;
      font-size: 28px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 10px;
      line-height: 1.5;
      color: #666;
    }

    .order-details {
      margin-top: 30px;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }

    .order-details h2 {
      color: #333;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .order-details p strong {
      font-weight: bold;
    }

    .button {
      display: block;
      width: 200px;
      margin: 20px auto;
      padding: 12px 20px;
      background-color: rgba(239, 151, 47, 1);
      color: #fff;
      text-align: center;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Order Confirmation</h1>
    <p>Thank you for your order! Your order has been successfully placed.</p>

    <div class="order-details">
      <h2>Order Details</h2>
      <p><strong>Order Number:</strong>{{orders._id}}</p>
      <p><strong>Order Date:</strong>{{orders.date}}</p>
      <p><strong>Shipping Address:</strong>{{orders.deliveryDetails.name}} <br>{{orders.deliveryDetails.address}}<br>{{orders.deliveryDetails.mobile}}</p>
      <p><strong>Payment Method:</strong>{{orders.PaymentMethod}} </p>
      <p><strong>Total Amount:</strong>{{orders.totalAmount}}</p>
    </div>

    <a class="button" href="/orders">Go to Orders</a>
  </div>
</body>

 {{!-- <a href="/orders" class="btn btn-danger btn-block order-button">Go to your Order</a> --}}