   <div class="container-fluid">

      <div class="row">
    
     {{#each product}}
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card">
            <img src="/images/{{this._id}}.jpg" class="card-img-top" alt="..." style="height:205px;">
            <div class="card-body">
              <h5 class="card-title">{{this.Name}}</h5>
              <p class="card-text">{{this.description}}</p>
             <input type="number">
                <p class="card-text">RS.{{this.price}}.</p>
                 <button onclick="AddToCart('{{this._id}}')" class="btn btn-primary" > ADD TO Cart </button>
            </div>
          </div>
        </div>
    {{/each}}
        <!--shop category end-->
      </div>
    




    </div>

{{!-- <section>
    <div class="container">
        <div class="row">
            {{#each product}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height:25rem">
                    
                    <img class="card-img-top" src="/images/{{this._id}}.jpg" alt="Card image cap"
                        style="height:12rem ;width:13rem">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.description}}.</p>
                        <p class="card-text">RS.{{this.price}}.</p>
                        <button onclick="AddToCart('{{this._id}}')" class="btn btn-primary" > ADD TO Cart </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div> --}}
<script>

      function AddToCart(proId) {
      
        $.ajax({
          url: '/add-to-cart/' + proId,
          method: 'GET',
          success: function (response) {
            console.log(" ajax=>>>>" + response);
            
            if (response.status) {
              let count = $('#cart-count').html()
              count = parseInt(count) + 1
              $("#cart-count").html(count)
            } else {
              alert("please login first")
            }
            
          }

        })
      }



    </script>