
<div class="container container-2">

      <div class="row">

        <div class="bg-image div-1 col-12" style="background-image: url('photo/index.jpg');">
          <a class="top-content" href="#">BUILD IT</a>
          <p class="top-subcontent"> BUILD YOUR DREAM HOME</p>
        </div>

        <!--landing image end-->
        <hr>

        <!--shop category-->
        <div style="height:70px ;">
          <h2 class="category">Category</h2>
        </div>

        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card">
                <img  src="/images/brick.jpg" class="card-img-top" alt="..." style="height:205px;">
                <div class="card-body">
                  <h5 class="card-title">brick</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="/bricks" class="btn btn-primary stretched-link">View</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card">
                <img src="steel.jpeg" class="card-img-top" alt="..." style="height:205px;">
                <div class="card-body">
                  <h5 class="card-title">Steel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary stretched-link">View</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card">
                <img src="cement.png" class="card-img-top" alt="..." style="height:205px;">
                <div class="card-body">
                  <h5 class="card-title">Cement</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary stretched-link">View</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card">
                <img src="Sand.jpeg" class="card-img-top" alt="..." style="height:205px;">
                <div class="card-body">
                  <h5 class="card-title">Sand</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary stretched-link">View</a>
                </div>
              </div>
            </div>
            <!--shop category end-->
          </div>

          <hr style="color:rgba(239, 151, 47, 1) ;">
          <div style="height:70px ;">
            <h2 class="category">Contractor</h2>
          </div>

          <div class="container">

            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-body" style="margin-top: 10px;">
                    <h5 class="card-title" style="text-align: center;">Sravan construction manager</h5>
                    <hr style="color: rgba(239, 151, 47, 1);">
                    <p class="card-text">The services that are provided are</p>
                    <ol>
                      <li>Electrician</li>
                      <li>Plumber</li>
                      <li>carpenter</li>
                    </ol>

                    <a href="#" class="btn btn-primary card-button stretched-link">view services</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-body" style="margin-top: 10px;">
                    <h5 class="card-title" style="text-align: center;">Sravan construction manager</h5>
                    <hr style="color: rgba(239, 151, 47, 1);">
                    <p class="card-text">The services that are provided are</p>
                    <ol>
                      <li>Electrician</li>
                      <li>Plumber</li>
                      <li>carpenter</li>
                    </ol>
                    <a href="#" class="btn btn-primary card-button">view services</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-body" style="margin-top: 10px;">
                    <h5 class="card-title" style="text-align: center;">Sravan construction manager</h5>
                    <hr style="color: rgba(239, 151, 47, 1);">
                    <p class="card-text">The services that are provided are</p>
                    <ol>
                      <li>Electrician</li>
                      <li>Plumber</li>
                      <li>carpenter</li>
                    </ol>
                    <a href="#" class="btn btn-primary card-button">view services</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-body" style="margin-top: 10px;">
                    <h5 class="card-title" style="text-align: center;">Sravan construction manager</h5>
                    <hr style="color: rgba(239, 151, 47, 1);">
                    <p class="card-text">The services that are provided are</p>
                    <ol>
                      <li>Electrician</li>
                      <li>Plumber</li>
                      <li>carpenter</li>
                    </ol>
                    <a href="#" class="btn btn-primary card-button">view services</a>
                  </div>
                </div>
              </div>



            </div>


          </div>


        </div>




 {{!-- <div class="container container-1">
    <div class="container container-2">

                    <div class="row">
    
                      <div class="bg-image div-1 col-12" style="background-image: url('photo/index.jpg');" > 
                        <a class="top-content" href="#">BUILD IT</a>
                        <p class="top-subcontent"> BUILD YOUR DREAM HOME</p>
                      </div>
          
                  </div> 
                  

<section>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height:20rem">
                    
                    <img class="card-img-top" src="/images/{{this._id}}.jpg" alt="Card image cap"
                        style="height:12rem ;width:13rem">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.description}}.</p>
                        <p class="card-text">RS.{{this.price}}.</p>
                        <button onclick="AddToCart('{{this._id}}')" class="btn btn-primary" > ADD TO Cart </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>



    
</section>
</div>
</div> --}}
 {{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> --}}

<script>

function AddToCart(proId) {
    $.ajax({
        url: '/add-to-cart/'+proId,
        method: 'GET',
        success: function (response) {
            console.log(" ajax=>>>>"+response); 
            if (response.status) {
                let count = $('#cart-count').html()
                count = parseInt(count) + 1
                $("#cart-count").html(count)
            } else{
                alert("please login first")
            }

        }
        
    })
}



</script>