<div class="container container-1">
    <div class="container container-2">

                    <div class="row">
    
                      <div class="bg-image div-1 col-12" style="background-image: url('photo/index.jpg');" > 
                        <a class="top-content" href="#">BUILD IT</a>
                        <p class="top-subcontent"> BUILD YOUR DREAM HOME</p>
                      </div>
          
                  </div>
                  

<section>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height:20rem">
                    
                    <img class="card-img-top" src="/images/{{this._id}}.jpg" alt="Card image cap"
                        style="height:12rem ;width:13rem">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.description}}.</p>
                        <p class="card-text">RS.{{this.price}}.</p>
                        <button onclick="AddToCart('{{this._id}}')" class="btn btn-primary" > ADD TO Cart </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
</div>
</div>
{{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

function AddToCart(proId) {
    $.ajax({
        url: '/add-to-cart/'+proId,
        method: 'GET',
        success: function (response) {
            console.log(" ajax=>>>>"+response); 
            if (response.status) {
                let count = $('#cart-count').html()
                count = parseInt(count) + 1
                $("#cart-count").html(count)
            } 

        }
        
    })
}



</script> --}}